    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #222;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {
    #main {margin-left: 0}
    a.sbscribe_btn{font-size: 15px !important;}
    h3.sbscribe_txt {font-size: 15px !important;}
    iframe.yt_vid {width: 350px; height: 250px;}
    }

h2.w3-text-light-grey.yt_title {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
hr.w3-opacity.yt_title_dec {
    width: 100% !important;
}
a.sbscribe_btn {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    background-color: darkred;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #fff;
}

a.blog-btn {
    background-color: #ff1416;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source-code h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.source-code p {
    color: #fff;
    background: #ff00008c;
    padding: 20px;
    border-radius: 20px;
}

.source-code button {
    color: #fff;
    background: #8c0000;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
}
