<!DOCTYPE html>
<html>
  <head>
    <title>Its Nathan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="./imgs/website_its_nathan.png"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
<body class="w3-black">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <!-- <img src="https://www.w3schools.com/w3images/avatar_smoke.jpg" style="width:100%"> -->
  <img src="imgs/website_its_nathan.png" style="width:100%">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="index.html#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#blog" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>BLOG</p>
  </a>  
  <!-- <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PHOTOS</p>
  </a> -->
  <a href="index.html#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-on w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#blog" class="w3-bar-item w3-button" style="width:25% !important">BLOG</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>
<div class="container">
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="blog">
    <h2 class="w3-text-light-grey">Blog</h2>
    <hr style="width:200px" class="w3-opacity">
    <h2 class="w3-text-light-grey yt_title">Youtube</h2>
    <div class="row" style="display: flex; flex-direction: row; align-items: center;">
      <div class="col" style="width: 60% !important; text-align: center;">
    <h3 class="w3-text-light-grey yt_title sbscribe_txt" style="font-size: 45px;">SUBSCRIBE -------> </h3>
    </div>
    <div class="col" style="width: 40% !important;">
    <a href="https://www.youtube.com/channel/UCq1KsNXBOtXkQDOACRh9rjQ" target="_blank" class="sbscribe_btn">ITS NATHAN</a>
    </div>
    </div>
    <!-- Video 1 -->
    <hr style="width:200px" class="w3-opacity yt_title_dec">
    <iframe class="yt_vid" width="1000" height="600" src="https://www.youtube.com/embed/ESGf5-XRDDM" title="Ethical Hacking using Python | Password Cracker with Python | Its Nathan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- Video 2 -->
    <hr style="width:200px" class="w3-opacity yt_title_dec">
    <iframe width="1000" height="600" src="https://www.youtube.com/embed/36cI04da-uc" title="SQL Injection Hacking Tutorial | @NetworkChuck Challenge | Its Nathan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- Video 3 -->
    <hr style="width:200px" class="w3-opacity yt_title_dec">
    <iframe width="1000" height="600" src="https://www.youtube.com/embed/8OdZ7v4wqvc" title="Free Hosting and Domain for 2022 | How to get Free Hosting and Domain | Free Website | Its Nathan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- Video 4 -->
    <hr style="width:200px" class="w3-opacity yt_title_dec">
   <iframe width="1000" height="600" src="https://www.youtube.com/embed/9yLBRTpbm2o" title="Python Password Generator | How to create a random password generator using python for beginners" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <!-- source code of video 4 -->
    <div class="source-code">
      <h2 id="src_cd_4">Source Code</h2>
      <p id="sc"># import "random" module to generate/shuffle random elements from a list<br>
          import random<br>
<br>
          #lists for selecting/shuffling the elements to generate a random passowrd<br>
          lower_case = "abcdefghijklmnopqrstuvwxyz"<br>
          upper_case = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"<br>
          numbers = "0123456789"<br>
          symbols = "!@#$%^&*|\/.,"<br>
<br>
          mixture = lower_case + upper_case + numbers + symbols<br>
          length = 8<br>
<br>
          password = "".join(random.sample(mixture, length))<br>
          print(password)</p>
<!-- The button used to copy the text -->
<button onclick="CopyToClipboard('sc');return false;">Copy</button>
    </div>

<hr style="width:200px" class="w3-opacity yt_title_dec">

    <!-- source code of video 4 -->

    <!-- Video 5 -->
    <iframe width="1000" height="600" src="https://www.youtube.com/embed/6dh51cUpx9k" title="How to Create a Python LocalHost HTTP Server For Web Development | Its Nathan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr style="width:200px" class="w3-opacity yt_title_dec">

    <!-- Video 6 -->

    <iframe width="1000" height="600" src="https://www.youtube.com/embed/CMyf8DKnN5Q" title="RunAway button animation JavaScript Tutorial @CodeWithHarry  | Its Nathan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

       <!-- source code of video 6 -->
       <style>
         .src_cd_6{
          text-decoration: none;
          color: #fff;
          background-color: darkred;
          border-radius: 20px;
          padding: 10px;
          margin-top: 10px;
          line-height: 3;
         }
       </style>
       <div id="sc6">
    <a class="src_cd_6" href="downloads/video6/index.html" download>
      Source Code Download Html File
    </a>
    </div>

<hr style="width:200px" class="w3-opacity yt_title_dec">

    <!-- source code of video 6 -->
</div>  
</div>

<!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
  <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i> -->
  <!-- <i class="fa fa-instagram w3-hover-opacity"></i> -->
  <!-- <i class="fa fa-snapchat w3-hover-opacity"></i> -->
  <!-- <i class="fa fa-pinterest-p w3-hover-opacity"></i> -->
  <!-- <i class="fa fa-twitter w3-hover-opacity"></i> -->
  <a href="https://www.youtube.com/channel/UCq1KsNXBOtXkQDOACRh9rjQ" target="_blank"><i class="fa fa-youtube w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/nathan-asif-b87258243" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="mailto: itsnathan.net@gmail.com"><i class="fa fa-envelope w3-hover-opacity"></i></a>
 <p class="w3-small">Ⓒ 2022 Its Nathan, Inc. All rights reserved.</p>
 <!-- End footer -->
</footer>

<!-- END PAGE CONTENT -->
</div>

</body>
<script>
function CopyToClipboard(sc)
{
var r = document.createRange();
r.selectNode(document.getElementById(sc));
window.getSelection().removeAllRanges();
window.getSelection().addRange(r);
document.execCommand('copy');
window.getSelection().removeAllRanges();
}
</script>
</html>
